<div class="grid-x">
  <div class="cell small-6">
    <div class="logo">
      <%= inline_svg "logo.svg" %>
    </div>
  </div>
  <div class="cell small-6 text-right">
    <div style="margin-right: 5px;">
      <%= render file: 'template/login-form.html.erb' %>
    </div>
  </div>
</div>
