<div class="grid-x small-header">
  <div class="cell small-12 medium-3">
    <div class="small-logo">
      <%= link_to root_path do %>
        <%= inline_svg "logo.svg" %>
      <% end %>
    </div>
  </div>
  <div class="cell small-12 medium-6">
    <%= render file: "template/search" %>
  </div>
  <div class="cell small-12 medium-3">
      <%= render file: 'template/login-form.html.erb' %>
  </div>
</div>
