.project_image {
  height: 3rem;
  width: auto;
  img {
    height: 3rem;
    width: auto;
  }
}
.project {
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  color: black;
  &:hover {
    opacity: 1;
  }

  a {
    color: black;
  }
}
